* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(180deg, rgb(22, 37, 59), rgb(41, 16, 99));
	color: white;
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
}
header {
	font-size: 2rem;
}
header,
form {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 20vh;
}
form input,
form button {
	padding: 0.7rem;
	font-size: 2rem;
	border: none;
	background: white;
}
form button {
	color: rgb(41, 16, 99);
	cursor: pointer;
	transition: all 0.3s ease;
}
form button:hover {
	background: rgb(100, 51, 206);
	color: white;
}

.todo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.todo-list {
	list-style: none;
	min-width: 40%;
}
.todo {
	margin: 1rem;
	background-color: white;
	color: black;
	font-size: 2rem;
	display: flex;
	justify-content: space-between;
	transition: all 0.5s ease;
}
.todo li {
	flex: 1;
	padding: 0rem 0.5rem;
}
.trash-btn,
.completed-btn {
	border: none;
	padding: 1rem;
	font-size: 1rem;
	cursor: pointer;
	color: white;
}
.completed-btn {
	background-color: rgb(16, 97, 16);
}
.completed-btn:hover {
	background-color: rgb(29, 167, 29);
}
.trash-btn {
	background-color: rgb(177, 31, 31);
}
.trash-btn:hover {
	background-color: rgb(248, 71, 71);
}
.fa-trash,
.fa-check {
	pointer-events: none;
}
.completed {
	text-decoration: line-through 4px rgb(0, 0, 0);
	opacity: 0.6;
}
.fall {
	transform: translateY(8rem) rotateZ(20deg);
	opacity: 0;
}
.filter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.btn {
	border: none;
	padding: 1rem;
	margin: 0.5rem;
	font-size: 1rem;
	width: 8rem;
	cursor: pointer;
	background-color: rgb(70, 70, 158);
	transition: all 0.3s ease;
	color: white;
}
.btn:hover {
	background-color: rgb(110, 110, 247);
}
.active {
	background-color: rgb(110, 110, 247);
}
